.social-feed {
  display: flex;
  justify-content: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: min(470px);
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid #ddd; /* Border on bottom */
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Vertically center items */
  width: 100%; /* Ensure it spans the full width of the container */
  margin-bottom: 10px; /* Add spacing below */
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-description {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it spans the full width of the container */
}

.post-actions {
  display: flex;
  justify-content: start;
  width: 100%; /* Ensure it spans the full width of the container */
}

.feed-post-image {
  max-width: 468px;
  height: auto;
}

/* Add styles for the comment button to match the like button */
.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.action-button:active {
  transform: scale(2);
  transition: 0.1s;
  opacity: 0.8; /* Reduce opacity for a pressed effect */
}
