nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul li svg {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  li a span {
    display: none; /* Hide the text */
  }

  li a {
    gap: 0; /* Remove gap between icon and text */
  }
}
